# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App build
app/build/
app/release/

# Keystore (keep private)
*.jks
*.keystore

# Misc
*.log
*.tmp
.agent/
.knowns/
node_modules/
